<div class="wrapper">
    <div class="logo">
        <img src="../assets/img/logo.png" alt="logo">
        <h1>សូមបំពេញ​ OTP ច្រាំមួយខ្ទង់</h1>
    </div>
    <form routerLink="#">
        <div class="verify_form">
            <span><fa-icon [icon]="user"></fa-icon></span>
            <input type="text" name="uname" id="uname" placeholder="sideton">
        </div>
        <div class="verify_form">
            <span><fa-icon [icon]="code" ></fa-icon></span>
            <input type="text" name="code" id="code" placeholder="សូមបំពេញ​​​ ​OTP ប្រាំមួយខ្ទង់">
        </div>
        <input type="button" value="ផ្ទៀងផ្ទាត់​ OTP">
        <span class="bck"><a routerLink="../login"> < Back To Login</a></span>
    </form>
</div>