 <!-- Navbar -->
 <nav class="navbar">
    <div class="container">
        <div class="logo">
            <a routerLink="">
                <img src="../assets/img/logo.png" alt="logo">
                <h1>Core Security</h1>
            </a>
        </div>
            <ul>
                <li>
                    <a routerLink="./account-profile">
                        <h2>Username</h2>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"><fa-icon [icon]="user" class="icon"></fa-icon></a>
                    <div class="dropdown-content">
                        <a routerLink="./account-profile">Personal</a>
                        <a routerLink="./forget-psw">Reset password</a>
                        <a routerLink="./login">Log out</a>
                    </div>
                </li>
            </ul>
    </div>
</nav>

<!-- End Navbar -->
<!-- Section -->
<section class="section">
<div class="container-fluid">
    <div class="content">
        <a href="#">
            <img src="../assets/img/security.png" alt="Core Security System">
        </a>
        <h2>Core Security</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/invoice.png" alt="invoice">
        </a>
        <h2>Invoice</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/nat.png" alt="NAT">
        </a>
        <h2>NATT</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/nat.png" alt="NAT Local">
        </a>
        <h2>NATT (local)</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/resource-system.png" alt="Human resource system">
        </a>
        <h2>Resource system</h2>
    </div>
    <div class="content">
        <a routerLink="./staff-app">
            <img src="../assets/img/staff.png" alt="Staff App">
        </a>
        <h2>STAFF _APP</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/staff.png" alt="Staff App Local">
        </a>
        <h2>STAFF _APP (Local)</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/utils.png" alt="UTILS">
        </a>
        <h2>UTILS</h2>
    </div>
    <div class="content">
        <a href="#">
            <img src="../assets/img/utils-local.png" alt="UTILS Local">
        </a>
        <h2>UTILS (Local)</h2>
    </div>
</div>
</section>
<!-- End Section -->