    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a routerLink="">
                    <img src="../assets/img/logo.png" alt="logo">
                    <h1>Core Security</h1>
                </a>
            </div>
                <ul>
                    <li>
                        <a routerLink="/account-profile">
                            <h2>Username</h2>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn"><fa-icon [icon]="user" class="icon"></fa-icon></a>
                        <div class="dropdown-content">
                            <a routerLink="/account-profile">Personal</a>
                            <a  routerLink="/forget-psw">Reset password</a>
                            <a  routerLink="/login">Log out</a>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>
 
    <!-- End Navbar -->
    <!-- Section -->
        <div class="cnt-staff-app">
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/Whatsapp.png" alt="">
                </a>
                <h1>WhatsApp</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/messenger.png" alt="">
                </a>
                <h1>Messenger</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/slack.png" alt="">
                </a>
                <h1>Slack</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/skype.png" alt="">
                </a>
                <h1>Skype</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/gmail.png" alt="">
                </a>
                <h1>Gmail</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/telegram.png" alt="">
                </a>
                <h1>Telegram</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/android-message.png" alt="">
                </a>
                <h1>Messages</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/google-calendar.png" alt="">
                </a>
                <h1>Calendar</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/discord.png" alt="">
                </a>
                <h1>Discord</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/hangout.png" alt="">
                </a>
                <h1>Hangouts</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/linkedin.png" alt="">
                </a>
                <h1>LinkedIn</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/tweetdesk.png" alt="">
                </a>
                <h1>Tweetdeck</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/trello.png" alt="">
                </a>
                <h1>Trello</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/office365-outlook.png" alt="">
                </a>
                <h1>Outlook</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/google-keep.png" alt="">
                </a>
                <h1>Google Keep</h1>
            </div>
            <div class="content-box-item">
                <a href="#">
                    <img src="../assets/img/AppIcon/hangout.png" alt="">
                </a>
                <h1>Hangout Chat</h1>
            </div>
        </div>
    <!-- End Section -->
